<!DOCTYPE html>
<html>
	<head>
		<title>Nuova Prenotazione</title>
		<link rel="stylesheet" href="/stile_log.css"/>
	</head>
	<body>
		<a id="logo" href="/"><img src="/logo.png" /></a>

		<div class="form-container">
		
		<form th:action="@{/prenotazione/prenotazione}" method="POST" th:object="${prenotazione}">
			<h1>Aggiungi una prenotazione</h1>
			<div id="nome">
			<strong>Nome:</strong> <span><input required type="text" placeholder="Inserisci nome della prenotazione" th:field="${prenotazione.nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}"th:errors="*{nome}"></span>
			</div>
			<div id="data">
				<b>Data:</b> <span><input required type="date" placeholder="Inserisci la data della prenotazione" th:field="${prenotazione.data}" /></span>
				<span th:if="${#fields.hasErrors('data')}"th:errors="*{data}"></span>
			</div>
			<div id="posti">
				<strong>Posti:</strong> <span><input required type="number" min="0" placeholder="Inserisci il numero di persone" th:field="${prenotazione.posti}" /></span>
				<span th:if="${#fields.hasErrors('posti')}"th:errors="*{posti}"></span>
			</div>
			<br>
			<div id="turno">
			        <!-- Campo hidden che memorizza il valore del turno -->
			        <input type="hidden" th:field="${prenotazione.turno}" />

			        <!-- Questi bottoni impostano il valore del campo turno -->
			        <button type="submit" th:value="'pranzo'" th:text="'Pranzo'" th:onclick="this.form.turno.value='pranzo'">Pranzo</button>
			        <button type="submit" th:value="'cena'" th:text="'Cena'" th:onclick="this.form.turno.value='cena'">Cena</button>
					<a href="/"> <button id="annulla" type="button">Annulla</button></a>

			    </div>
			
<!--			<div id="turno">
				 Campo hidden per il turno 
								<input type="hidden" th:field="${prenotazione.turno}" />
								<input type="hidden" th:field="${prenotazione.turno}" th:value="'pranzo"/>
								 Bottoni per selezionare il turno 
								<button type="submit" th:field="*{turno}" th:value="'pranzo'" th:text="'Pranzo'"></button>
								<button type="submit" th:field="*{turno}" th:value="'cena'" th:text="'Cena'" ></button>
				<button type="submit" th:field="*{turno}" th:value="'pranzo'">Pranzo</button>
				<button type="submit" th:field="${prenotazione.turno}"  th:value="'pranzo'">Pranzo</button>
				<button type="submit" th:value="'cena'" th:text="'Cena'">Cena</button>
				
		<button type="submit" th:value="'cena'" th:text="'Cena'">Cena</button> 
				<div>
					<button type="submit">Conferma</button>
				</div>-->

			<div th:if="${#fields.hasErrors('*')}" style="color:red" th:errors="*{nome}">
			</div>
			<div class="error" th:if="${errorMessage}">
				<p th:text="${errorMessage}"></p>
			</div>
			<div class="orario">
			            <p><strong>Orario:</strong></p>
			            <p>Lunedì siamo chiusi</p>
						<p>Martedì – Giovedì: 19:00 – 23:00</p>
			            <p>Venerdì - Domenica: 12:00 – 15:00 / 19:00 – 23:00</p>
			    </div>
		</form>
		</div>



	</body>
</html>