<!DOCTYPE html>
<html>	
	<head>
		<title>INSERIMENTO PRODOTTO</title>
		<link rel="stylesheet" href="/stile_progetto.css" />
	</head>
	
	<body>
		<a id="logo_richiesta" href="/"><img src="/logo.png" /></a>
		<h1>Aggiungi un <h1 th:text="${prodotto.categoria}"></h1>
		<form th:action="@{/admin/prodotto}" method="POST" th:object="${prodotto}">
			<div id="nome">
				Nome: <span><input required type="text" th:field="${prodotto.nome}" /></span>
			</div>
			<div id="descrizione">
				Descrizione: <span><input required type="text" th:field="${prodotto.descrizione}" /></span>
			</div>
			<div id="prezzo">
				Prezzo: <span><input required type="text" th:field="${prodotto.prezzo}" /></span>
			</div>
			<div id="url">
				<input type="hidden" th:field="${prodotto.categoria}" th:value="${categoria}" />
				URL immagine: <span><input type="url" th:field="${prodotto.urlImage}" /></span>
			</div>
			<div>
				<span><button type="submit">Conferma</button></span>
			</div>
		</form>
	</body>

</html>