<!DOCTYPE html>
<html>	
	<head>
		<title>SCELTA INSERIMENTO</title>
		<link rel="stylesheet" href="/stile_progetto.css" />
	</head>
	
	<body>
		<a id="logo_richiesta" href="/"><img src="/logo.png" /></a>
		<h1>Che tipo di prodotto vuoi aggiungere al tuo menù?</h1>
		<a href = "/admin/formNewPizza"> <button>Pizza</button> </a>
		<a href = "/admin/formNewSfizio"> <button>Sfizio</button> </a>
		<a href = "/admin/formNewDolce"> <button>Dolce</button> </a>
		<a href = "/admin/formNewBevanda"> <button>Bevanda</button> </a>
			</div>
		</form>
	</body>

</html>