<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina di Gestione</title>
    <link rel="stylesheet" href="/stile_progetto.css">
</head>
<body>

<header>
    <!-- Logo sopra i tasti -->
    <div class="logo-home">
        <a href="/" id="logo">
            <img src="/logo.png" alt="Logo Pizzaza" />
        </a>
    </div>

    <!-- Sezione con i tasti -->
    <div class="buttons-container">
        <a href="/admin/modificaProdotti" class="button 1">Modifica menù</a>
        <a href="/admin/formInserimentoMenu" class="button 2">Inserimento menù</a>
        <a href="/admin/prenotazioni" class="button 3">Gestisci prenotazioni</a>
		<a href="/admin/prenotazioni" class="button 4">Gestisci ordini</a>
    </div>

    <!-- Login -->
    <div class="login-container" style="text-align: center; margin-top: 20px;">
        <span>Ciao, gestore</span>
        <a href="/logout" class="button" style="background-color: #d9534f;">Logout</a>
    </div>
</header>

<div class="content">
    <h1 style="text-align: center; margin-top: 50px;">Benvenuto nella pagina di gestione</h1>
</div>

</body>
</html>
