<!DOCTYPE html>
<html>
	<head>
		<title>MENU</title>
		<link rel="stylesheet" href="/stile_elenco.css" />
	</head>
	<body>
		<!-- Divisione pulsanti per permettere di scegliere se
					inserire una tipologia specifica di prodotto -->
					<div class="header-container">
					        <div class="left-buttons">
					            <a href="/admin/newPizza"> <button>Inserisci nuova pizza</button> </a>
					            <a href="/admin/newSfizio"> <button>Inserisci nuovo sfizio</button> </a>			        </div>
					        <div id="logo">
					            <a href="/" ><img src="/logo.png" alt="Logo"></a>
					        </div>
					        <div class="right-buttons">
					            <a href="/admin/newDolce"> <button>Inserisci nuovo dolce</button> </a>
					            <a href="/admin/newBevanda"> <button>Inserisci nuova bevanda</button> </a>								        </div>
					    </div>
		<h1> Elenco prodotti </h1>
		<!-- Mostra messaggio se la lista prodotti è vuota -->
		<span th:if="${prodotti.isEmpty()}">No products available.</span>

		<!-- Modulo di ordinamento, visibile solo se tipologia è 'prodotti'
		<div th:if="${tipologia == 'prodotti'}"> -->
			<form action="/admin/ordinaProdotti" method="GET">
				<label for="ordine">Ordina per:</label>
				<select id="ordine" name="ordine">
					<option value="nome">Nome</option>
					<option value="prezzo">Prezzo</option>
					<option value="categoria">Categoria</option>
				</select>
				<button type="submit">Ordina</button>
			</form>
	<!--	</div> -->

		<div id="lista">
			<ul>
				<li th:each="prodotto : ${prodotti}">
					<div class="prodotto">
					<img th:src="${prodotto.urlImage}" class="prodotto-img">
						<div class="prodotto-dettagli">
							<p><a class="nome" th:href="@{'/prodotto/' + ${prodotto.id}}"
						  th:text="${prodotto.nome} + ' ' + ${prodotto.prezzo} + '€'"> nome e prezzo </a></p>
<!--						 <span class="tipo" th:if="${tipologia == 'prodotti'}" th:text="${prodotto.categoria}">categoria</span>
							<p th:text="${prodotto.nome} + ' ' + ${prodotto.prezzo} + '€'"> nome e prezzo </p>
-->							<p><a class="modifica" th:href="@{'/admin/modificaProdotto/' + ${prodotto.id}}">Modifica</a></p>
							<p><a class="cancella" th:href="@{'/admin/cancellaProdotto/' + ${prodotto.id}}">Cancella</a></p>
					 	<span class="tipo" th:text="${prodotto.categoria}">categoria</span>
					 		
						</div>
					 </div>
				</li>
			</ul>
		</div>
	</body>
</html>