<!DOCTYPE html>
<html>

<head>
	<title>Ordini </title>
	<link rel="stylesheet" href="/stile_elenco.css" />
</head>

<body>
	<a id="logo" href="/"> <img src="/logo.png"> </a>

	<div class="form-container">
		<h1 th:if="${!ordini.isEmpty()}">Elenco ordini</h1>
		<!-- Modulo di ordinamento -->
		<form action="/admin/ordinaOrdini" method="GET">
			<label for="ordine">Ordina per:</label>
			<select id="ordine" name="ordine">
				<option value="nome">Nome</option>
				<option value="data">Data</option>
				<option value="totale">Totale</option>
			</select>
			<label for="tipoRicerca">Ricerca per:</label>
			<select id="tipoRicerca" name="tipoRicerca">
				<option value="ascendente">Ascendente</option>
				<option value="discendente">Discendente</option>
			</select>
			<button type="submit">Ordina</button>
		</form>
		<span th:if="${ordini.isEmpty()}">Non ci sono ordini</span>
		<span th:if="${numero}" th:text="'sono stati trovati ' + ${numero} + ' elementi'"></span>
	</div>
	<div id="lista">
		<ul>
			<li class="ordine" th:each="ordine:${ordini}">
				<p>ordinato da: <a th:href="@{'/admin/utente/' + ${ordine.utente.id}}" th:text="${ordine.nome}"></a></p>
				<hr>
				<p th:text="${ordine.giornoConsegna} + ' alle: ' + ${ordine.orarioConsegna}"></p>
				<br>
				<p th:text=" ${ordine.totale} + '€'"></p>
				<hr>
				<a th:href="@{'/ordine/' + ${ordine.id}}">Dettagli</a>
			</li>
		</ul>
	</div>
</body>

</html>