<!DOCTYPE html>
<html>
	<head>
		<title>Prenotazioni </title>
		<link rel="stylesheet" href="/stile_elenco.css"/>
	</head>
	<body>
		<a id="logo" href="/"> <img src="/logo.png"> </a>
		<div th:if="${descrizione!=null}">
			<p th:text="${descrizione}"></p>
		</div>
		<h1 th:if="${!prenotazioni.isEmpty()}">Elenco prenotazioni</h1>
		<div class="form-container">
		<!-- Modulo di ordinamento -->
				<form action="/admin/ordinaPrenotazioni" method="GET">
					<label for="ordine">Ordina per:</label>
					<select id="ordine" name="ordine">
						<option value="nome">Nome</option>
						<option value="data">Data</option>
						<option value="posti">Posti</option>
					</select>
					<button type="submit">Ordina</button>
				</form>
						<form action="/admin/cercaPrenotazioni" method="GET">
								<label for="filtro">Cerca:</label>
								<input type="text" id="filtro"  placeholder="cosa cerchi?" name="filtro">
							<button type="submit">Cerca</button>
						</form>
						<span th:if="${prenotazioni.isEmpty()}">Non ci sono prenotazioni</span>
				<span th:if="${numero}" th:text="'sono stati trovati ' + ${numero} + ' elementi'"></span>
				</div>
		<div id="lista">
			<ul>
				<li class="prenotazione" th:each="prenotazione:${prenotazioni}">
					<p>prenotazione a nome <a th:href="@{'/admin/utente/' + ${prenotazione.utente.id}}" th:text="${prenotazione.nome}"></a> per</p>
					<p th:text=" ${prenotazione.posti} + ' persone, per il giorno ' +
										${prenotazione.data} + ' a ' + ${prenotazione.turno} "></p> 
<!--					<p th:text="'prenotato a nome ' + ${prenotazione.nome} +
					' per '+ ${prenotazione.posti} + ' persone, per il giorno ' +
					${prenotazione.data} + ' a ' + ${prenotazione.turno}"></p> 
					+ ' prenotata dall\'utente ' + ${prenotazione.utente.email}">Nome e posti</p>
					<span><a th:href="@{'/admin/contatta/' + ${prenotazione.utente.id}}" th:text="${prenotazione.utente.email}"> </a></span> 
-->				</li>
			</ul>
		</div>
	</body>
</html>