<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Modifica Immagine Prodotto</title>
	<link rel="stylesheet" href="/stile_log.css">
</head>

<body>
	<a id="logo" href="/"><img src="/logo.png" /></a>
	<div class="contenitore">
		<h1>Modifica immagine per: <span class="prodotto"			
		th:text="${prodotto.nome}">Nome Prodotto</span></h1>

		<div th:if="${prodotto.immagine != null}">
			<span class="lab"><strong>Immagine attuale:</strong> </span>
			<div class="img-contenitore">
				<img th:src="@{/immagine/{id}(id=${prodotto.immagine.id})}" alt="Immagine Prodotto" width="200" />
				<a th:href="@{'/admin/cancellaImmagineProdotto/' + ${prodotto.id} + '/' + ${prodotto.immagine.id}}">
					<button class="btn-rimuovi"><strong>Rimuovi<br>immagine</strong></button>
				</a>
			</div>
		</div>

		<!-- Messaggio di errore, se presente -->
		<div th:if="${error}" class="error">
			<p th:text="${error}"></p>
		</div>

		<!-- Form per caricare una nuova immagine -->

		<form th:action="@{'/admin/modificaImmagineProdotto/' + ${prodotto.id}}" method="post" enctype="multipart/form-data">
			<div class="bottoni-riga">
				<label class="label-button" for="file">Scegli immagine:</label>
				<input type="file" id="file" name="file" accept="image/*" required />

				<button type="submit"><strong>Carica</strong></button>

		</form>


		<a th:href="@{'/admin/modificaProdotto/' + ${prodotto.id}}">
			<button id="annulla" type="button"><strong>Torna indietro</strong></button></a>
	</div>
	</div>
</body>

</html>