<!DOCTYPE html>
<html>
	<head>
		<title>HOME PIZZAZA</title>
		<link rel="stylesheet" href="/stile_progetto.css"/>
	</head>
	<body>
		<a id="logo_home" href="/"> <img src="/logo.png"> </a>
		<div id="richiesta">Cosa vuoi fare?</div>
		<div id="possibli">
			<p><a href="/prodotto"><button>Visualizza menù</button></a></p>
			<p><a href="/pizza"><button>Visualizza pizze</button></a></p>
			<p><a href="/sfizio"><button>Visualizza sfizi</button></a></p>
			<p><a href="/dolce"><button>Visualizza dolci</button></a></p>
			<p><a href="/bevanda"><button>Visualizza bevande</button></a></p>
			<p><a href="/admin/formInserimentoMenu"><button>Inserisci nuovo prodotto</button></a></p>
			<p><a href="/formNewPrenotazione"><button>Inserisci nuova prenotazione</button></a></p>
			<p><a href="/prenotazione"><button>Visualizza prenotazioni</button></a></p>
		</div>
	</body>
</html>