<!DOCTYPE html>
<html>

<head>
	<title>HOME PIZZAZA</title>
	<link rel="stylesheet" href="/stile_index.css" />
</head>

<body>
	<nav class="navbar">
		<ul>
			<li><a href="/menu">Il nostro menù</a></li>
			<li><a href="/prenotazione/leMiePrenotazioni">Visualizza le tue prenotazioni</a></li>
			<!--				<li><a href="/menu/pizza">Le nostre pizze</a></li>
				<li><a href="/menu/sfizio">Gli immancabili sfizi</a></li>
-->
			<li><a id="logo_home" href="/"><img src="/logo.png"></a></li> <!-- Logo al centro -->
			<li><a href="/ordine/ordini">Visualizza i tuoi<br>ordini</a></li>
			<!--				<li><a href="/dolce">Per i più golosi</a></li>
				<li><a href="/bevanda">Con cosa accompagnamo sto cibo?</a></li>
-->
			<li>
				<div id="login">
					<a href="/utente">
						<span th:if="${userDetails != null}" th:text="'Ciao ' + ${userDetails.username}">Nome
							utente</span>
					</a>
					<p th:if="${userDetails == null}" class="login-link">
						<a href="/login">Login</a>
					</p>
					<p th:if="${userDetails == null}" class="register-link">
						<span>Non hai un account?</span> <a href="/register">Registrati</a>
					</p>
					<p th:if="${userDetails != null}" class="logout-link">
						<a href="/logout">Logout</a>
					</p>
				</div>
			</li>
		</ul>
	</nav>

	<div id="pulsanti">
		<a href="/prenotazione/formNewPrenotazione" class="half-btn left">
			Vieni a mangiare da noi
		</a>
		<a href="/ordine/formNewOrdine" class="half-btn right">
			Te la portiamo anche a casa!
		</a>
	</div>

	

	<main>
		<hr>
		<div class="container">
			<section class="carousel">
				<h2>Alcune nostre specialità</h2>

				<div class="carousel-track">
					<th:block th:each="prodotto : ${primo}">
						<div th:if="${prodotto.immagine != null}" class="oggetto-img">
							<a class="titolo" th:href="@{'/prodotto/' + ${prodotto.id}}">
								<figure>
									<img th:src="@{/immagine/{id}(id=${prodotto.immagine.id})}"
										alt="Foto di {{prodotto.nome}}" />
									<figcaption th:text="${prodotto.nome}"></figcaption></a>
								</figure>

						</div>
					</th:block>
				</div>
			</section>
			<hr>
			<section class="carousel">
				<h2>Alcune nostre specialità</h2>

				<div class="carousel-track">
					<th:block th:each="prodotto : ${secondo}">
						<div th:if="${prodotto.immagine != null}" class="oggetto-img">
							<a class="titolo" th:href="@{'/prodotto/' + ${prodotto.id}}">
								<figure>
									<img th:src="@{/immagine/{id}(id=${prodotto.immagine.id})}"
										alt="Foto di {{prodotto.nome}}" />
									<figcaption th:text="${prodotto.nome}"></figcaption></a>
								</figure>
						</div>
					</th:block>
				</div>
			</section>
		</div>
	</main>


	<footer>
		<div class="footer-container">
			<div class="footer-info">
				<h3>Pizzaza</h3>
				<p><strong>Orario:</strong></p>
				<p>Lunedì siamo chiusi</p>
				<p>Martedì – Giovedì: 19:00 – 23:00</p>
				<p>Venerdì - Domenica 12:00 – 15:00 / 19:00 – 23:00</p>
			</div>

			<div class="footer-contact">
				<p><strong>Telefono:</strong> +39 0123456789</p>
				<p><strong>Indirizzo:</strong> Via vasca navale 178, Roma</p>
			</div>

			<div class="footer-contact">
				<p><strong>Chi siamo:</strong> </p>
				<p>Studenti del corso di sistemi informativi sul web AA 2024-2025</p>
				mat.saravo@stud.uniroma3.it
				ed.tubera@stud.uniroma3.it

			</div>
		</div>
	</footer>

</body>

</html>