<!DOCTYPE html>
<html>
	<head>
		<title>MENU</title>
		<link rel="stylesheet" href="/stile_prodotti.css"/>
	</head>
	<body>

		<!-- Divisione pulsanti per permettere di scegliere se
			mostrare una tipologia specifica di prodotto -->
			<div class="header-container">
			        <div class="left-buttons">
			            <a href="/menu/pizza"> <button>Pizze</button> </a>
			            <a href="/menu/sfizio"> <button>Sfizi</button> </a>	</div>
			        <div id="logo">
			            <a href="/" ><img src="/logo.png" alt="Logo"></a>
			        </div>
			        <div class="right-buttons">
			            <a href="/menu/dolce"> <button>Dolci</button> </a>
			            <a href="/menu/bevanda"> <button>Bevande</button> </a>								        </div>
			    </div>

				<h1 th:text="'Elenco ' + ${tipologia}"></h1>		
				<!-- Mostra messaggio se la lista prodotti è vuota -->
				<span th:if="${prodotti.isEmpty()}">No products available.</span>

			    <form action="/ordinaProdotti" method="GET">
					<input type="hidden" name="tipologia" th:value="${tipologia}" />
			        <label for="ordine">Ordina per:</label>
			        <select id="ordine" name="ordine">
			            <option value="nome">Nome</option>
			            <option value="prezzo">Prezzo</option>
			            <option th:if="${tipologia == 'prodotti'}" value="categoria">Categoria</option>
			        </select>
			        <button type="submit">Ordina</button>
			    </form>

		<div id="lista">
			<ul>
				<li th:each="prodotto : ${prodotti}">
					<div class="prodotto">
					<img th:src="${prodotto.urlImage}" class="prodotto-img">
					<div class="prodotto-dettagli">
						<a class="nome" th:href="@{'/prodotto/' + ${prodotto.id}}"
						  th:text="${prodotto.nome} + ' ' + ${prodotto.prezzo} + '€'"> nome e prezzo </a>
					 <span class="tipo" th:if="${tipologia == 'prodotti'}" th:text="${prodotto.categoria}">categoria</span>
					 </div>
					 </div>
				</li>
			</ul>
		</div>
	</body>
</html>
