<!DOCTYPE html>
<html>
	<head>
		<title>OrdinoHomePage</title>
		<link rel="stylesheet" href="/stiloso.css"/>
		
	</head>
	<body>
				<nav class="navbar">
					<ul>
						<li><a href="/prodotto">Il nostro menù</a></li>
						<li><a href="/pizza">Le nostre pizze</a></li>
						<li><a href="/sfizio">Gli immancabili sfizi</a></li>
						<li><a id="logo_home" href="/"><img src="/logo.png"></a></li> <!-- Logo al centro -->
						<li><a href="/prenotazione/formNewPrenotazione">Vieni a mangiare da noi</a></li>
						<li><a href="/prenotazione/formNewPrenotazione">Te la portiamo anche a casa!</a></li>
		<!--				<li><a href="/dolce">Per i più golosi</a></li>
						<li><a href="/bevanda">Con cosa accompagnamo sto cibo?</a></li>
		-->				<li> <div id="login">
						    <span th:if="${userDetails != null}" th:text="'Ciao ' + ${userDetails.username}">Nome utente</span>
						    <p th:if="${userDetails == null}" class="login-link">
						        <a href="/login">Login</a> </p>
						    <p th:if="${userDetails == null}" class="register-link">
						        <span>Non hai un account?</span> <a href="/register">Registrati</a></p>
						    <p th:if="${userDetails != null}" class="logout-link">
						        <a href="/logout">Logout</a>
						    </p>
						</div></li> 
					</ul>
				</nav>


		<p>ma se io volessi permettere ad un utente di 
			effettuare un ordine, come dovrei fare? fino 
			ad ora ho solo implementato la classe ordine, non so 
			se devo implementare anche delle classi che indichino le 
			voci dell'ordine o se mi basta avere la classe ordine con 
			una relazione uno a molti con i prodotti, così da poter 
			inserire i prodotti dell'rdine all'interno di una lista</p>
	</body>
</html>
	