<!DOCTYPE html>
<html>
	<head>
		<title>Nuova Prenotazione</title>
		<link rel="stylesheet" href="stile_progetto.css"/>
	</head>
	<body>
		<a id="logo_prenotazione" href="/"><img src="/logo.png" /></a>
		<h1>Aggiungi una prenotazione</h1>
		<form th:action="@{/prenotazione}" method="POST" th:object="${prenotazione}">
			<div id="nome">
				Nome: <span><input required type="text" th:field="${prenotazione.nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}"th:errors="*{nome}"></span>
			</div>
			<div id="data">
				Data: <span><input required type="date" th:field="${prenotazione.data}" /></span>
				<span th:if="${#fields.hasErrors('data')}"th:errors="*{data}"></span>
			</div>
			<div id="posti">
				Posti: <span><input required type="number" min="0" th:field="${prenotazione.posti}" /></span>
				<span th:if="${#fields.hasErrors('posti')}"th:errors="*{posti}"></span>
			</div>
			
			<div id="turno">
			        <!-- Campo hidden che memorizza il valore del turno -->
			        <input type="hidden" th:field="${prenotazione.turno}" />

			        <!-- Questi bottoni impostano il valore del campo turno -->
			        <button type="submit" th:value="'pranzo'" th:text="'Pranzo'" th:onclick="this.form.turno.value='pranzo'">Pranzo</button>
			        <button type="submit" th:value="'cena'" th:text="'Cena'" th:onclick="this.form.turno.value='cena'">Cena</button>
			    </div>
			
<!--			<div id="turno">
				 Campo hidden per il turno 
								<input type="hidden" th:field="${prenotazione.turno}" />
								<input type="hidden" th:field="${prenotazione.turno}" th:value="'pranzo"/>
								 Bottoni per selezionare il turno 
								<button type="submit" th:field="*{turno}" th:value="'pranzo'" th:text="'Pranzo'"></button>
								<button type="submit" th:field="*{turno}" th:value="'cena'" th:text="'Cena'" ></button>
				<button type="submit" th:field="*{turno}" th:value="'pranzo'">Pranzo</button>
				<button type="submit" th:field="${prenotazione.turno}"  th:value="'pranzo'">Pranzo</button>
				<button type="submit" th:value="'cena'" th:text="'Cena'">Cena</button>-->
				
		<!--		<button type="submit" th:value="'cena'" th:text="'Cena'">Cena</button> -->
				<div>
					<button type="submit">Conferma</button>
				</div>
			</div>
		</form>
	</body>
</html>